.info {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.info-title {
    width: 100%;
    height: 50px;
    background-color: #ff6060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.info-title button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 22px;
    transition: all 0.5s;
}

.info-title button.open {
    transform: rotate(-180deg);
}

.info-content {
    background-color: #f6f6f6;
    color: #ff6060;
    padding: 5px;
}